<%- include('../inc/top_inc') %>

  <div class="list">
    <h1>Quản lí user</h1>
    <button class="btn btn-primary"><a href="user/add">Add User</a></button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>

        </tr>
      </thead>
      <% listUser.forEach((row)=>{ %>
        <tr>
          <td>
            <a href="user/edit/<%= row._id %>">
              <%= row._id %>
            </a>
          </td>
          <td>
            <a>
              <%= row.fullName %>
            </a>
          </td>
          <td>
            <a>
              <%= row.username %>
            </a>
          </td>

          <td>
            <a>
              <%= row.email %>
            </a>
          </td>
          <td>

            <td><a role="button"  href="user/delete/<%= row._id %>" button type="button" class="btn btn-danger">Xóa</button></td>
        </tr>
        
        <% }); %>
    </table>
  </div>
  <%- include('../inc/bottom_inc') %>